body{
    background-color: rgb(59, 57, 53);
}

#slider{
    margin: 0 auto;
}

#slides article{
    width: 20%;
    float: left;
}

#slides .image{
    width: 500%;
    line-height: 0;
}

#slides p{
    text-align: initial;
}

#overflow{
    width: 100%;
    overflow: hidden;
}

article img{
    width: 100%;
}

#desktop:checked ~ #slider{
    max-width: 64rem;
    min-height: 37.5rem;
    background-color: currentColor;
    padding: 1.25rem;
}

label, a {
    cursor: pointer;
}

.all input{
    display: none;
}

#switch1:checked ~ #slides .image
{
    margin-left: 0;
}

#switch2:checked ~ #slides .image{
    margin-left: -100%;
}

#switch3:checked ~ #slides .image{
    margin-left: -200%;
}

#switch4:checked ~ #slides .image{
    margin-left: -300%;
}

#switch5:checked ~ #slides .image{
    margin-left: -400%;
}

#active label {
    border-radius: 0.625rem;
    display: inline-block;
    width: 0.9375rem;
    height: 0.9375rem;
    background: #bbb;
    cursor: pointer; /* Изменение курсора при наведении */
    transition: background-color 0.3s ease; /* Плавное изменение цвета фона */
}

/* Изменение цвета фона при наведении */
#active label:hover {
    background: #76c8ff;
}

/* Изменение стиля контрола при выборе (активный контрол) */
#active label:active {
    background: #18a3dd;
    border-color: #18a3dd !important;
}


/* Изменение стиля активного контрола при наведении */
#active label:hover:active {
    background: #0e70a0;
}

#switch1:checked ~ #active label:nth-child(1),
#switch2:checked ~ #active label:nth-child(2),
#switch3:checked ~ #active label:nth-child(3),
#switch4:checked ~ #active label:nth-child(4),
#switch5:checked ~ #active label:nth-child(5) {
    background: #18a3dd; /* Цвет активного контрола */
    border-color: #18a3dd !important; /* Цвет границы активного контрола */
}

#active{
    display: flex;
    justify-content: end;
    column-gap: 0.625rem;
    margin: -3% 0 0;
    padding-bottom: 3.4375rem;
}

#active label:hover{
    background: #76c8ff;
    border-color: #777 !important;
}

#switch1:checked ~ #controls label:nth-child(1)
#switch2:checked ~ #controls label:nth-child(2)
#switch3:checked ~ #controls label:nth-child(3)
#switch4:checked ~ #controls label:nth-child(4)
#switch5:checked ~ #controls label:nth-child(5){
    background: #18a3dd;
    border-color: #18a3dd !important;
}

#slides .image{
    transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000 );
}


#controls label:hover{
    opacity: 0.6;
}

#controls label{
    transition: opacity 0.2s ease-out;
}

/* Скрываем весь текст по умолчанию */
.text p {
    display: none;
    transition: all 0.4s ease-in-out;
}


.text article{
    opacity: 0;
    transition: opacity 2s;
}


/* Показываем текст, связанный с первым слайдом */
#switch1:checked ~ #slides .text article:nth-child(1) p {
    display: block;
    opacity: 1;
}

/* Показываем текст, связанный со вторым слайдом */
#switch2:checked ~ #slides .text article:nth-child(2) p {
    display: block;
    opacity: 1;
}

/* Показываем текст, связанный с третьим слайдом */
#switch3:checked ~ #slides .text article:nth-child(3) p {
    display: block;
        opacity: 1;
}

#switch4:checked ~ #slides .text article:nth-child(4) p {
    display: block;
    opacity: 1;
}

#switch5:checked ~ #slides .text article:nth-child(5) p {
    display: block;
    opacity: 1;
}


#switch1:checked ~ #slides .text article:nth-child(1),
#switch2:checked ~ #slides .text article:nth-child(2),
#switch3:checked ~ #slides .text article:nth-child(3),
#switch4:checked ~ #slides .text article:nth-child(4),
#switch5:checked ~ #slides .text article:nth-child(5) {
    opacity: 1; /* Завершение анимации (появление) */
}

@media (max-width: 500px) {
    #desktop:checked ~ #slider{
        min-height: 0rem;
    }

    #active{
        justify-content: center;
        margin: -5rem 0 0 0;
    }

    #slides p{
        padding: 3.125rem 0 0 0;
    }
}